*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #e5e5e5;
  max-width: 100%;
}

#open {
  color: slateblue;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s;
}

#open:hover {
  opacity: 1;
}

.header {
  display: flex;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: baseline;
  z-index: 2;
}

.header > * {
  margin: 1rem 8%;
}

.link__logo {
  text-decoration: none;
  color: inherit;
}

.logo__title {
  color: slateblue;
  font-weight: 900;
}

.container {
  background-image: url(./Header-bg@2x.png);
  min-width: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  padding-bottom: 5rem;
  padding-top: 1rem;
  border-bottom-left-radius: 50px;
}

.intro {
  display: flex;
  flex-direction: column;
  margin: 7rem 1rem 0 1rem;
}

.lang-cont-list > * {
  margin-bottom: 1rem;
}

.list-cont-inp > *:not(:first-child) {
  margin-bottom: 0.5rem;
}

.intro > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.intro__heading {
  font-weight: 700;
  line-height: 2.5rem;
  color: #091e42;
}

.intro__text {
  font-weight: 400;
  line-height: 1.5rem;
  color: #344563;
}

.intro__contact {
  text-transform: uppercase;
  text-decoration: none;
  color: #7f8cff;
  font-size: 0.9rem;
}

.intro__social--cont {
  display: flex;
  list-style: none;
}

.intro__social--cont > *:not(:last-child) {
  margin-right: 0.5rem;
}

.link__social {
  text-decoration: none;
  color: #505f79;
}

.color__circle {
  color: #c1c7d0 !important;
  font-size: 8px;
}

.container__card {
  display: grid;
  max-width: 90%;
  margin: 2rem auto;
  grid-template-rows: repeat(4, max-content);
}

.card {
  width: 100%;
  margin: 1rem auto;
  border: 1px solid #dfe1e6;
  background-color: white;
  border-radius: 16px;
}

.card__img--cont {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem auto;
}

.img-wrapper {
  width: 100%;
}

.prjct-info-wrapper {
  display: flex;
  flex-direction: column;
}

.prjct-info-wrapper button {
  align-self: flex-start;
}

.prjct-info-wrapper > *:not(:last-child) {
  margin-bottom: 1rem;
}

.img__card {
  width: 100%;
  transition: ease 0.3s;
  backface-visibility: hidden;
}

.img__card:hover {
  transform: scale(1.03);
}

.project__info--cont {
  list-style: none;
  display: flex;
  align-items: baseline;
}

.project__info--cont > *:not(:last-child) {
  margin-right: 0.5rem;
}

.list__lng--btn {
  list-style: none;
  display: flex;
}

.desc__project,
.title-info {
  font-weight: bold;
  color: #091e42;
}

.project__info--title {
  color: #344563;
  font-weight: 700;
  line-height: 16px;
  font-size: 0.8rem;
}

.project__info--dot {
  display: flex;
  align-items: center;
}

.project__info--author,
.job-info {
  color: #c1c7d0;
  font-weight: 500;
  line-height: 16px;
  font-size: 13px;
}

.project__info--date,
.year-info {
  color: #c1c7d0;
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
}

.project__desc--text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.lng__btn,
.lang-text {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  border: none;
}

.list__lng--btn > *:not(:last-child) {
  margin-right: 0.5rem;
}

.lng__btn:focus {
  outline: none;
}

.about {
  background-color: white;
  border-top-right-radius: 50px;
}

.res-skil-cont {
  display: flex;
  flex-direction: column;
}

.intro__resume {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.cont-mobile-menu-list > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.cont-prjct-wrapper > *:not(:first-child) {
  margin-bottom: 0.1rem;
}

.pop-proj-info > *:not(:last-child) {
  margin-right: 0.3rem;
}

.pop-info-cont > *:not(:last-child) {
  margin-bottom: 0.1rem;
}

.cont-list > *:not(:last-child) {
  margin-right: 0.1rem;
}

.cont-lang-btn > *:not(:last-child) {
  margin-bottom: 0.1rem;
}

.res-skil-cont > .intro__resume > *:not(:first-child) {
  margin-bottom: 1rem;
}

.intro__resume button {
  align-self: flex-start;
}

.skills__cont {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0 1rem;
}

.list__skills--cont {
  list-style: none;
  margin-bottom: 3rem;
}

.cont__skill {
  display: flex;
  width: 95%;
  margin: 1.5rem auto;
  justify-content: space-between;
  align-items: center;
}

.name__skill {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
}

.languages__cont {
  list-style: none;
  width: 100%;
}

.language__cont {
  display: flex;
  width: 95%;
  margin: 1rem auto;
  align-items: center;
  padding: 0.5rem;
  border-radius: 8px;
}

.lang-cont-list {
  list-style: none;
  width: 100%;
}

.lang-info {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f7f7f9;
  padding: 0.5rem;
  border-radius: 8px;
}

.icon__chevron {
  cursor: pointer;
}

.img__cont {
  width: 2.5rem;
  margin-right: 0.5rem;
}

.img__lang {
  width: 100%;
  border-radius: 50%;
}

.skill__bord {
  border-bottom: 2px solid #dfe1e6;
  padding-bottom: 1.5rem;
}

.contact-cont-form {
  background-image: url(./images/contactform\ background.png);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  padding-bottom: 5rem;
  padding-top: 1rem;
  border-top-left-radius: 50px;
  position: relative;
}

.cont-inp-form {
  max-width: 100%;
}

.list-cont-inp {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-field {
  align-self: stretch;
}

.user-name,
.user-email,
.user-message {
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  border-radius: 5px;
  border: none;
}

.user-name:focus-visible,
.user-email:focus-visible,
.user-message:focus-visible {
  outline: none;
  background-color: blue;
  color: white;
  border: none;
}

.user-name:focus,
.user-email:focus,
.user-message:focus {
  outline: none;
  border: none;
}

.cont-btn-form {
  align-self: flex-start;
}

.title-form {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;
}

.text-form {
  font-size: 0.8rem;
  text-align: center;
}

.title-form,
.text-form {
  color: white;
}

.btn-action {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #6070ff;
  padding: 8px 18px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  letter-spacing: 0.03em;
  background-color: #fff;
  transition: ease-in-out 0.3s;
}

.btn-live,
.btn-source {
  font-style: normal;
  font-weight: 600;
  min-width: 7rem;
  margin-bottom: 0.3rem;
  font-size: 13px;
  color: #6070ff;
  padding: 8px 8px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  letter-spacing: 0.03em;
  background-color: #fff;
  transition: ease-in-out 0.3s;
}

.btn-live {
  margin-right: 0.5rem;
}

.btn-action:active,
.btn-live:active,
.btn-source:active {
  background-color: #2230d2 !important;
  color: #fff !important;
}

.btn-action:hover,
.btn-live:hover,
.btn-source:hover {
  background-color: #6070ff;
  color: white;
  cursor: pointer;
}

.cont-menu-list {
  display: none;
}

.rotate {
  transition: ease-in-out 1s;
  transform: rotate(360deg);
}

.title-form:hover,
.text-form:hover {
  transition: ease-in-out 1s;
  transform: translate(30px);
}

.mobile-menu {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #6070ffed;
  z-index: 2;
  display: none;
}

.cont-mobile-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 5rem 0 0 2rem;
}

.link-mobile-menu {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.icon-cont {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem 8%;
  font-size: 2.5rem;
  transform: translate(0.2rem, -1rem);
  cursor: pointer;
}

.time-close {
  text-decoration: none;
  color: #fff;
  opacity: 0.9;
  line-height: 1rem;
  transition: opacity 0.3s;
}

.time-close:hover {
  opacity: 1;
}

.time-close:active {
  color: white;
}

.modal-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.267);
  z-index: 2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: none;
  transition: all 0.3s;
}

.close-pop-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.pop-prjct-det {
  width: 75%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.527);
  display: none;
  transition: all 0.3s;
}

.cont-prjct-wrapper {
  width: 90%;
  margin: 0.3rem auto;
}

.pop-proj-info {
  list-style: none;
  display: flex;
  align-items: baseline;
}

.pop-img-cont {
  width: 100%;
}

.pop-img-proj {
  width: 100%;
}

.cont-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pop-text {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.cont-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.live-btn-text,
.source-btn-text {
  margin-right: 0.2rem;
}

.heading-sec {
  display: none;
}

.email-validat-mess {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  color: rgb(255, 238, 0);
}

@media (min-width: 992px) {
  .cont-menu-list {
    list-style: none;
    display: flex;
  }

  .pop-prjct-det {
    width: 60%;
  }

  .pop-info-cont {
    display: flex;
  }

  .menu__cont i {
    display: none;
  }

  .link-menu {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: black;
  }

  .menu-list > * {
    margin-right: 1rem;
  }

  .intro {
    width: 75%;
    margin: 10rem auto 2rem auto;
  }

  .card__img--cont {
    flex-direction: row;
  }

  .prjct-info-wrapper {
    width: 50%;
    margin-left: 1rem;
  }

  .prjct-info-wrapper > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  .img-wrapper {
    width: 50%;
  }

  .container__card {
    width: 75%;
  }

  .card-2,
  .card-4 {
    flex-direction: row-reverse;
  }

  .res-skil-cont {
    display: flex;
    flex-direction: row;
    height: 500px;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  .list__skills--cont {
    margin-bottom: 0;
  }

  .intro__resume {
    width: 40%;
    align-self: flex-start;
    margin: 0;
  }

  .skills__cont {
    width: 30%;
    margin: 0 1rem 0 2rem;
  }

  .lang-cont-list {
    display: flex;
    flex-direction: row;
  }

  .cont__skill {
    margin-bottom: 0;
  }

  .lang-info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 1rem;
    margin-bottom: 0;
    width: auto;
  }

  .cont-inp-form {
    width: 60%;
    margin: 0 auto;
  }

  .cont-btn-form {
    align-self: center;
  }

  .item-field {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1100px) {
  .intro {
    width: 60%;
    margin: 10rem auto 2rem auto;
  }

  .pop-prjct-det {
    width: 50%;
  }

  .pop-info-cont {
    display: flex;
    width: 100%;
  }

  .card__img--cont {
    flex-direction: row;
  }

  .prjct-info-wrapper {
    width: 50%;
    margin-left: 1rem;
  }

  .prjct-info-wrapper > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  .img-wrapper {
    width: 50%;
  }

  .card-2,
  .card-4 {
    flex-direction: row-reverse;
  }

  .cont-inp-form {
    width: 40%;
    margin: 0 auto;
  }
}
