*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.container {
  background-image: url(./background1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 10%;
  text-decoration: none;
  margin-bottom: 114px;
  margin-left: 24px;
  margin-right: 24px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 40px;
  margin-right: 28px;
  color: #344563;
}

.sm {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-right: 35px;
  margin-top: 26px;
}

.contact {
  padding: 0 40px;
}

h1 {
  display: flex;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  align-items: center;
  width: 327px;
  height: 100px;
  margin-left: 60px;
  top: 114px;
}

p {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #6070ff;
  height: 20px;
  width: 76px;
  left: 12px;
  top: 10px;
  font-weight: bolder;
}

i.fab.fa-twitter {
  left: 6.4%;
  right: 88.27%;
  top: 77.81%;
  bottom: 18.88%;
  color: #505f79;
}

i.fab.fa-linkedin-in {
  color: #505f79;
}

i.fab.fa-medium-m {
  color: #505f79;
}

i.fab.fa-github {
  color: #505f79;
}

.contacts {
  color: #7f8cff;
}

.project-title {
  position: static;
  width: 295px;
  height: 36px;
  left: 0;
  top: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.project-image1 {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.canopy {
  list-style-type: none;
  display: inline;
}

.work {
  display: flex;
  margin: 12px;
  padding: 24px;
  background-color: #ffff;
  border-radius: 25px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  color: #344563;
}

.sub-title {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

.languages {
  display: flex;
}

.sub-title h4 {
  margin-right: 15px;
}

.languages li {
  background-color: #ebebff;
  border-radius: 10px;
  padding: 10px;
  margin-right: 15px;
  color: #7a869a;
}

.see {
  display: flex;
  border: 1px solid #6070ff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
  letter-spacing: 0.03em;
  font-size: 17px;
  color: #396df2;
  background-color: #ffff;
}

button.see:hover:enabled {
  background: #6070ff;
  color: white;
}

button.see:active:enabled {
  background: #2230d2;
  color: white;
}

button.see:disabled:enabled {
  background-color: white;
  color: black;
}

p.about1 {
  margin-top: 20px;
}

i.fas.fa-circle {
  margin-top: 8px;
  font-size: 9px;
  margin-right: 12px;
  color: #c1c7d0;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #344563;
}

.about {
  margin-top: 228px;
  margin-right: 24px;
  padding: 24px;
  background-color: #ffff;
  border-radius: 25px;
}

h2 {
  display: flex;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  align-items: center;
  width: 327px;
  height: 100px;
  top: 114px;
  color: #344563;
}

.sub-header {
  display: flex;
  margin-left: 36px;
  margin-right: 102px;
  line-height: 24px;
  justify-content: space-between;
  margin-top: 60px;
}

i.fas.fa-angle-down.fa-2x {
  color: #7a869a;
  justify-content: flex-end;
}

.frameworks {
  position: static;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 12px;
  background: #f7f7f9;
  border-radius: 8px;
}

li.js {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 33px;
}

li.html {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 33px;
  margin-right: 48px;
}

li.css {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 33.72px;
  margin-right: 60px;
}

h4.js {
  margin-right: 20px;
}

h4.css {
  margin-right: 10px;
}

.section-bottom {
  display: flex;
  margin-top: 250px;
  margin-bottom: 23px;
  justify-content: space-evenly;
}

h5.text {
  font-size: 20px;
  margin-right: 250px;
}

h5.text2 {
  font-size: 20px;
  margin-right: 325px;
}

.last-section {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  height: 30px;
  margin-bottom: 23px;
}

.seperator {
  border: 1px solid #dfe1e6;
}

.main1 {
  display: grid;
}

.article1 {
  margin-top: 20px;
}

.back-end {
  display: flex;
  justify-content: space-between;
  color: #7a869a;
}

.date2 {
  color: #7a869a;
}

article {
  color: #344563;
  margin-top: 20px;
}
.contact-form{
  display: flex;
  flex-direction: column;
  background-image: url("Contactme.png");
  align-items: center;
  justify-content: center;
  height:779px;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-form h2{
  font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 52px;
color: white;
}
.contact-form p{
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
text-align: center;
color: #EBEBFF;
}
.contact-form form{
  display: flex;
  flex-direction: column; 
}
form input{
  width: 327px;
  height: 48px;
  margin-bottom:18px;
  background: #FFFFFF;
border: 1px solid #CFD8DC;
border-radius: 8px;
}
form input::placeholder{
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;
padding-left: 15px;
padding-top: 16px;
align-items: center;


color: #172B4D;
}
form textarea{
  /* Mono/White */

background: #FFFFFF;
/* Base/100 */

border: 1px solid #CFD8DC;
border-radius: 8px;
}